<h2>POR REGION</h2>
<hr>


<div class="row">
  <div class="col">
    <div class="botones-region">
      <!---SEARCHBOX-->
      <!-- <shared-search-box
      (onDebaunce)="searchByRegion($event)"
      placeholder="Buscar por region"
      ></shared-search-box> -->
      <button
      *ngFor="let region of regions"
      class="btn-region"
      [ngClass]="{ 'active': selectedRegion  === region }"
      (click)="searchByRegion(region)">
      {{ region | uppercase }}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <region-table
    [regiones]="regiones"
    ></region-table>
    <!-- <tbody>
      <tr
      *ngFor="let country of countries;
      let i = index"
      >
        <td> {{ i + 1 }} </td>
        <td> {{ country.flag }} </td>
        <td> <img [src]="country.flags.svg" [alt]="country.name.common"> </td>
        <td> {{ country.name.common }} </td>
        <td> {{ country.capital }} </td>
        <td> {{ country.population }} </td>
        <td> <a href="#">VER MAS</a> </td>
      </tr>
    </tbody> -->
  </div>
</div>
